CHATBOTX_API_KEY=
CHATBOTX_API_URL=
CHATBOTX_ALLOW_SELF_SIGNED_CERT=


# MCP Server
CHATBOTX_MCP_TRANSPORT=sse
CHATBOTX_MCP_HOST=127.0.0.1
CHATBOTX_MCP_PORT=3333
CHATBOTX_MCP_SSE_PATH=/sse
CHATBOTX_MCP_MESSAGES_PATH=/messages
