ENVIRONMENT=dev
EDITION=community
AWS_ACCESS_KEY_ID=ahachat
AWS_BUCKET=ahachat
AWS_REGION=us-west-2
AWS_SECRET_ACCESS_KEY=nr541Kv59xB4f48bhZOy5wBz
AWS_URL=http://localhost:9000
BETTER_AUTH_SECRET=bRdiWZreJT/1yyFXU019L02gJiC02tP+8e36fGclZnI=
BETTER_AUTH_URL=http://builder.example.com:3123
DATABASE_URL=postgresql://ahachat:nr541Kv59xB4f48bhZOy5wBz@localhost:5432/ahachat?schema=public
GOOGLE_CLIENT_ID=1014365700730-ktc78det6t7454bvp2rh72sate389le7.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
NEXT_PUBLIC_ASSET_URL=http://minio.ahachat.orb.local/ahachat/
NEXT_PUBLIC_BUILDER_URL=http://builder.example.com:3123
NEXT_PUBLIC_PARTYSOCKET_URL=http://localhost:1999
NEXT_PUBLIC_SMTP_FROM=noreply@example.com
PARTYSOCKET_API_KEY=lvoaPeDA0ufUVgbKVORQ5xAGE31eBjpdyKvZ3f4bdag65DHYfy9W6s0h6N82hDBF
REDIS_URL=redis://localhost
SMTP_SERVER=smtp://username:password@localhost:1025
CLICKHOUSE_URL=http://localhost:8123
CLICKHOUSE_USER=ahachat
CLICKHOUSE_PASSWORD=nr541Kv59xB4f48bhZOy5wBz
CLICKHOUSE_DB=chatbot_analytics

